#rc-section{
    width: 80%;
    display: flex;
    flex-direction: column;
}

#rc-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}

#rc-content{
    display: flex;
}

#rc-content > * {
    margin: 1%;
}

#rc-btns {
   display: flex;
   flex-direction: column; 
}

#rc-like-section {
}

.rc-c-comment {

}