#fp-body{
    width: 640px;
    display: flex;
    flex-direction: column;
}

#feature-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    z-index: -1;
}

#feature-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to right, rgb(0, 0, 0) 9vw, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 91vw);
    pointer-events: none;
}

#feature-img-container::after {
    content: '';
    position: absolute;
    bottom: 85px;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.957);
    pointer-events: none; 
}

#feature-img{
    width: 800px;
}

#feature-content{
    position: absolute;
    top: 63%;
    width: 680px
}

#feature-metadata{
    width: 400px;
    align-self: center;
}

#fm-list{
    width: 90%;
}

#fm-header-tabs{
    display: flex;
    list-style: none;
    
}

#fm-header-tabs > li {
    margin-left: 2px;
    margin-right: 2px;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    border-top: none;
}

#f-cast,
#f-crew{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#f-cast > li,
#f-crew > li{
    margin-left: 2px;
    margin-right: 2px;
    border: #000 solid;
}

#feature-review-section{
    width: 600px;
    
}

/* REVIEW INPUT */
#review-input-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
    opacity: 0.9;
    background-color:  black;  
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-input{
    display: flex;
    flex-direction: column;
    
}

/* @
media (min-width: 800px) {

    
} */