#hp-body{
    width: 780px;
}

#hp-popular-movies,
#hp-popular-tv {
    overflow-y: auto;
    scrollbar-width: none;
}

#hp-popular-movies > div,
#hp-popular-tv > div {
    margin: .5%;
}

#hp-rr-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hp-rr{
    display: flex;
    border:  2px solid rgb(74, 74, 74);
    width: 60vh;
    height: auto;
    padding: 10px;
}

#hp-rr-content{
    padding: 10px;
}