#login-page{
    margin-top: 10vw;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-section{
    padding: 20px;
    border: 2px solid;
}

#login-inputs{
    display: flex;
    flex-direction: column;
}

