

/* #profile-body{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#profile-header{
    display: flex;
    border-bottom: 2px solid grey;
    padding: 20px;
}

#profile-img-container{
    width: 130px; 
  height: 130px; 
  border-radius: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-img{
    min-width: 100%;
    min-height: 100%; 
    object-fit: cover;
} */

#profile-body{
    display: flex;
    flex-direction: column;
    align-self: center;
    
    max-width: 1200px;
   /* display: flex;
    flex-direction: column;
    align-content: center;
    
    margin: 4vw; */
}

#profile-body > div{
    background: linear-gradient(to top, rgb(5, 0, 72, .12) 10%, rgb(5, 0, 72, .6) 70%);
    
}

#profile-content{
    padding: 20px;
}

#profile-header{
    display: flex;
    border-bottom: 2px solid grey;
    padding: 20px;
}

#p-details-section{
    display: flex;    
    flex-direction: column;
    margin-left: 40px;
}

#p-follow-section{
    display: flex;
    align-items: center;
    margin-left: auto;
}

#p-follow-section > div{
    margin-left: 12px
}

#profile-img-container{
    width: 130px; 
  height: 130px; 
  border-radius: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-img{
    min-width: 100%;
    min-height: 100%; 
    object-fit: cover;
}

#p-watchlist-section,
#p-liked-section{
    display: flex;
}

#profile-follows-display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
    opacity: 0.9;
    background-color:  black;  
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-close-follows{
    width: 7vw;
    display: flex;
    font-size: 7vw;
    height: 7vw;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

#pfd-user{
    display: flex;
    gap: 30px;
    border: 2px solid grey;
    padding: 10px;
    width: 60vw;
    max-width: 1200px;
}

#followers-header h4{
    margin: auto;
}

#p-recent-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vw;
    gap: 1vw;
}