#profile-follows-display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
    opacity: 0.9;
    background-color:  black;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pfd-user-details{
    display: flex;
    flex-direction: row;
    
}
