#sp-content h6{
    margin: auto;
}

#search-body{
    display: flex;
    align-self: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 90vw;
    max-width: 1200px;
    gap: 1vw;
}

#movie-content{
    padding: 10px;
    border: 1px solid grey;
}

#sp-recent-label{
    margin: auto;
    text-decoration-line: underline;
}


#sp-profile-container{
    padding: 10px;
    border: 1px solid grey;
    background-color: rgb(5, 0, 72);
}

#sp-feature-section{
    display: flex;
    gap: 1vw;
    flex-direction: column;
}

#sp-feature-section > div{
    padding: 10px;
    border: 1px solid grey;
    background-color: rgb(5, 0, 72);
    display: flex;
}   

#sp-profile-img-container{
    width: 130px; 
    height: 130px; 
    border-radius: 40%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sp-profile-section{
    gap: 1vw;
}

#sp-profile-img{
    min-width: 100%;
    min-height: 100%; 
    object-fit: cover;
}

#sp-profile-name{
    margin: auto;
    color: rgb(103, 103, 103);
}

#sp-feature-img{
    height: 20vw;
}