#signup-body{
    margin-top: 10vw;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-section{
    padding: 20px;
    border: 2px solid;
}

#signup-inputs{
    display: flex;
    flex-direction: column;
}