#signup-body{
    margin-top: 10vw;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-section{
    padding: 20px;
    max-width: 200px;
    border: 2px solid;
    border-radius: 10px;
}

#signup-form{
    display: flex;
    flex-direction: column;
}

/* #signup-inputs{
    display: flex;
    flex-direction: column;
} */